* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid grey;
    padding: 0 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav li {
    display: inline-block;
    margin-right: 40px;
}

.container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

.container h2 {
    padding-bottom: 20px;
}